*{
    box-sizing: border-box; /*Makes browser self correct border/margin/padding*/
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.wrapper{
    max-width: 950px;
    margin: 0 auto;
    border: 1px solid red;
    }
header, footer{
    background: red;
    text-align: center;
    }

/*Grid Styles*/

.col-2{
    margin: 10rem 0;
}

@media screen and (min-width: 600px){
    .col-2{
        width: 50%;
        float: left;
    }
}