*{
    box-sizing: border-box; /*Makes browser self correct border/margin/padding*/
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.wrapper{
    max-width: 950px;
    margin: 0 auto;
    border: 1px solid red;
    }
header, footer{
    background: red;
    text-align: center;
    }

/*Grid Styles*/

.col-2, .col-3, .col-4{
    margin: 4rem 0;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 3px 0px 10px #888888;
}

@media screen and (min-width: 600px){
    .col-2{
        width: 44%;
        float: left;
        margin-left: 6%;
    }
    .col-2:first-child{
        margin-left: 0;
    }
}
.col-container{
    border: 3px solid black;
    width: 100%;
}
@media screen and (min-width: 600px){
.col-3{
    width: 29.33%;
    float: left;
    margin-left:6%; 
}
.col-3:first-child{
    margin-left: 0;
}
}
@media screen and (min-width: 600px){
.col-4{
    width: 20.5%;
    float: left;
    margin-left:6%; 
}
.col-4:first-child{
    margin-left: 0;
}
}
